[flake8]
max-line-length = 120
exclude =
    .venv,
    venv,
    migrations,
    __pycache__,
    generate_*.py,
    apps/generative/,
    apps/vision/services.py
extend-ignore = E203
per-file-ignores =
    apps/*:F401,F841
    tests/*:F401
